/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body {
  min-height: 100vh;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101D;
  padding: 6px 14px;
  z-index: 10;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}

.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li.profile .profile-details .name_job {
  display: none;
}
.sidebar.open li.profile .profile-details .name_job {
  display: block;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}

.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .container {
  width: 100%;
  height: 100%;
}

.home-section .container .header-content > h1{
  font-size: 34px;
  padding: 30px;
  text-align: center;
}

.home-section .container .grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 0 30px;
  grid-gap: 1rem;
} 

.home-section .container .imagem_apps .imgs {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.home-section .container .imagem_apps .imgs a{
  text-align: center;
}

.home-section .container .imagem_apps .imgs img {
  width: 90%;
  height: 90%;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  transition: all 0.5s ease;
}

.home-section .container .imagem_apps .imgs img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  /* left: 0; */
  background: rgba(0,0,0,0.8);
  z-index: 1;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 78px);
}

.modal:target {
  opacity: 1;
  pointer-events: auto;
}

.modal > div {
  width: 70%;
  position: relative;
  padding: 0.9375rem 1.25rem;
  background: white;
  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
}

.modal p {
  font-family: "Poppins";
  font-size: clamp(0.875em, 0.875vw, 1.25em);
  font-weight: 300;
  line-height: 1.8;
  text-align: justify;
  margin: 0.5rem;
}

.modal h3 {
  margin-top: 1.5rem;
  text-align: center;
}

.fechar {
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: 0.5rem;
  top: 0.5rem;
  text-align: center;
  border-radius: 100%;
  line-height: 2rem;
  font-size: 1.2rem;
  color: black;
  transition: all 0.5s ease;
}

.fechar:hover {
  background: black;
  color: white;
}

.botao {
  display: flex;
  justify-content: center;
}

.button {
  color: black;
  cursor: pointer;
  transition: all 0.5s ease;
  text-align: center;
  padding: 5px 0;
}

.button:hover {
  background-color: black;
  color: white;
  padding: 5px 30px;
  border-radius: 20px;
  transition: all 0.4s ease;
}

.div_img_modal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.div_img_modal .img_modal {
  width: 65%;
  margin: 10px 0 20px;
  border-radius: 20px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  transition: all 0.5s ease;
}

a {
  text-decoration: none;
  color: white;
}

#lista_rodape {
  width: calc(100% - 78px);
  position: relative;
  list-style: none;
  background-color: #262626;
  height: 4rem;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 1rem;
  left: 78px;
  transition: all 0.5s ease;
}

.redes_sociais {
  width: 2rem;
  height: 2rem;
}

.sidebar.open ~ footer > #lista_rodape{
  left: 250px;
  width: calc(100% - 250px);
}

@media (max-width: 1000px) {
  .home-section .container .grid {
    grid-template-columns: repeat(1, 1fr);
    height: 100%;
  }
  #lista_rodape {
    height: 8rem;
    font-size: 1rem;
    flex-direction: column;
    justify-content: space-evenly;
}
}

@media (max-width: 780px) {
  .home-section .container .header-content > h1{
    font-size: 25px;
    padding: 30px;
    text-align: center;
  }
    .sidebar.open ~ .home-section {
      left: 0;
      right: 250px;
      width: calc(100%);
  }

  .sidebar.open ~ footer > #lista_rodape{
    left: 0;
    right: 250px;
    width: calc(100%);
  }

  .modal > div {
    width: 90%;
  }

  .modal p {
    font-family: "Poppins";
    font-size: 12px; 
  }
  
  .modal h3 {
    margin-top: 1rem;
    text-align: center;
  }

  .div_img_modal .img_modal {
    width: 100%;
    height: 100%;
  }

  .button {
    font-size: 12px;
  }

}

@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
  .sidebar.open ~ .home-section {
    left: 0;
    right: 200px;
    width: calc(100%);
}
}
