* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #5D8344;
    /* min-width: 550px; */
}
a {
    text-decoration: none;
    color: white;
}
#conteudo {
    height: 100vh;
}

#contato {
    width: 100%;
    height: 78.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    align-items: center;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.perguntas {
    background-color: rgba(255, 255, 255, 0.92);
    box-shadow: 0 0.52vw 0.52vw rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 45vw;    
    display: flex;
    flex-direction: column;
    padding: 1.5vw;
}

label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
}

label#title {
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

div.nomes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5vh;
}

div.dados {
    margin-top: 1vh;
}

label.label_input {
    font-style: normal;
    font-size: 1.4vw;
    font-family: 'Montserrat', sans-serif;
}

input, textarea {
    background: #C4C4C4;
    border-radius: 5px;
    font-size: 1.15vw;
    margin-top: 0.5vh;
    padding-left: 0.3vw;
    padding-top: 0.1vw;
    border: none;
}

input.nomes_inputs {
    width: 19.4vw;
    height: 4vh;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

input#nome {
    margin-right: 5.7vw;
}

input.formulario {
    width: 100%;
    height: 4vh;
    font-family: 'Montserrat', sans-serif;
}

::placeholder {
    color: #4f4f4f; 
    font-size: 1vw;
}

textarea.formulario {
    width: 100%;
}

input.btn {
    font-family: 'Montserrat', sans-serif;
    background: #46D754;
    border-radius: 5px;
    width: 10vw;
    height: 5vh;
    text-align: center;
    color: #FFFFFF;
    font-size: 1.7vw;
    float: right;
}

.btn:hover {
    transition: 0.4s;
    /* transform: scale(1.04); */
    background-color: #035c0c;
}

#lista1 {
    top: 0px;
    list-style: none;
    background-color: #262626;
    height: 7vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    display: flex;
    justify-content: space-around;
    padding-top: 3.8vh;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#lista_rodape {
    list-style: none;
    background-color: #262626;
    height: 7vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    display: flex;
    justify-content: space-between;
    padding-top: 3.8vh;
    padding-left: 7vw;
    padding-right: 7vw;
}

.redes_sociais {
    margin: 0;
    padding: 0;
    width: 2.5vw;
}

@media (max-width: 800px) {
    #contato {
        width: 100%;
        height: 78.5vh;
    }

    .perguntas {
        width: 50vw;
    }
    
    div.nomes {
        display: flex;
        flex-direction: column;
    }

    div.nome {
        margin-top: 1vh;
    }

    input.nomes_inputs {
        display: block;
        width: 100%;
    }
    
    label#title {
        font-size: 3.5vw;
    }

    label.label_input {
        font-size: 2vw;
    }
    
    ::placeholder {
        color: #4f4f4f; 
        font-size: 1.6vw;
    }

    input, textarea {
        font-size: 2vw;
    }

    #lista1 {
    font-size: 2.3vw;
    }
    #lista_rodape {
        font-size: 2.3vw;
    }
    
    .redes_sociais {
        margin: 0;
        padding: 0;
        width: 4vw;
    }

    input.btn {
        width: 13vw;
        height: 4vh;
        font-size: 2.2vw;
    }
}

@media (max-width: 550px) {
    #contato {
        width: 100%;
        height: 78.5vh;
    }

    label#title {
        font-size: 4vw;
    }

    .perguntas {
        width: 50vw;
    }
    
    label.label_input {
        font-size: 2.3vw;
    }
    
    ::placeholder {
        color: #4f4f4f; 
        font-size: 1.6vw;
    }

    input, textarea {
        font-size: 1.8vw;
    }

    #lista1 {
    font-size: 2.5vw;
    }

    #lista_rodape {
        font-size: 3vw;
    }

    .redes_sociais {
        margin: 0;
        padding: 0;
        width: 4.5vw;
    }
}

@media (max-width: 400px) {
    #contato {
        width: 100%;
        height: 78.5vh;
    }
    
    label#title {
        font-size: 6vw;
    }
    
    .perguntas {
        width: 60vw;
    }
        
    label.label_input {
        font-size: 3.5vw;
    }
        
    ::placeholder {
        color: #4f4f4f; 
        font-size: 2.5vw;
    }
    
    input, textarea {
        font-size: 3.5vw;
    }
    
    #lista1 {
        font-size: 2.6vw;
        flex-wrap: wrap;
    }
    
    #lista_rodape {
        font-size: 2.8vw;
    }
    
    .redes_sociais {
        margin: 0;
        padding: 0;
        width: 5vw;
    }

    input.btn {
        width: 16vw;
        height: 3vh;
        font-size: 3.5vw;
    }
}
