* {
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #fff;
    --background-hover-btn: #035c0c;
    --text-color2: #000;
    --box-perguntas: rgba(255, 255, 255, 0.92);
    --box-shadow: rgba(0, 0, 0, 0.25);
    --background-pag-par: #5D8344;
    --background-pag-impar: #496B69;
    --background-rodape-header: #262626;
    --input: #C4C4C4;
    --placeholder: #4f4f4f;
    --btn-perguntas: #46D754; 
}

body {
    background-color: var(--background-pag-par);
}
a {
    text-decoration: none;
    color: var(--text-color);
}

div.menu_sanduiche{
    visibility: hidden;
    display: none;
}

#conteudo {
    height: 100vh;
}

#contato {
    width: 100%;
    height: 78.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    align-items: center;
    height: 100%;
    margin-top: 21vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.perguntas {
    background-color: var(--box-perguntas);
    box-shadow: 0 0.52vw 0.52vw var(--box-shadow);
    border-radius: 20px;
    width: 45vw;    
    display: flex;
    flex-direction: column;
    padding: 1.5vw;
}

label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
}

label#title {
    font-size: 3vw;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

div.nomes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0.5vh;
}

div.dados {
    margin-top: 1vh;
}

label.label_input {
    font-style: normal;
    font-size: 1.4vw;
    font-family: 'Montserrat', sans-serif;
}

input, textarea {
    background: var(--input);
    border-radius: 5px;
    font-size: 1.15vw;
    margin-top: 0.5vh;
    padding-left: 0.3vw;
    padding-top: 0.1vw;
    border: none;
}

input.nomes_inputs {
    width: 19.4vw;
    height: 4vh;
}

textarea:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

input#nome {
    margin-right: 5.7vw;
    /* padding-left: 1vw; */
}

input.formulario {
    width: 100%;
    height: 4vh;
    /* padding-left: 1vw; */
    font-family: 'Montserrat', sans-serif;
}

::placeholder {
    color: var(--placeholder);
    font-size: 1vw;
}

textarea.formulario {
    width: 100%;
}

input.btn {
    font-family: 'Montserrat', sans-serif;
    background: var(--btn-perguntas);
    border-radius: 5px;
    width: 10vw;
    height: 5vh;
    text-align: center;
    color: var(--text-color);
    font-size: 1.7vw;
    float: right;
}

.btn:hover {
    transition: 0.4s;
    /* transform: scale(1.04); */
    background-color: var(--background-hover-btn);
}

header {
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: var(--background-rodape-header);
}

#lista1 {
    list-style: none;
    height: 7vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2.3vw;
    display: flex;
    justify-content: space-around;
    padding-top: 3.8vh;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

#lista_rodape {
    list-style: none;
    background-color: var(--background-rodape-header);
    height: 7vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2.2vw;
    display: flex;
    justify-content: space-between;
    padding-top: 3.8vh;
    padding-left: 7vw;
    padding-right: 7vw;
}

.redes_sociais {
    margin: 0;
    padding: 0;
    width: 3.3vw;
}

@media (max-width: 850px) {

    #lista1{
    font-size: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    }

    div.menu_sanduiche {
        visibility: visible;
        display: flex;
        justify-content: space-between;
        padding: 3vh 4vw;
    }

    div.toggle{
        visibility: visible;
        color: var(--text-color);
    }

    div.nome_igu{
        font-family: 'Josefin Sans', sans-serif;
        visibility: visible;
        color: var(--text-color);
        font-size: 2.5vw;
        padding-top: 0.7vw;
    }

    div.menu_nav {
        visibility: hidden;
        display: none;
    }

    nav.show .menu_nav{
        visibility: visible;
    
        background-color: var(--background-rodape-header);
        opacity: 0.95;
    
        width: 100%;
        height: 100%;
    
        position: fixed;
        top: 0;
        left: 0;
    
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    nav.show + div div.icon-close{
        visibility: visible;
        opacity: 1;
        top: 1.5rem;
    }

    .icon-close {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: -1.5rem;
        right: 1.5rem;
        font-size: 4vw;
        transition: .2s;
    }
    
    .icon-menu {
        font-size: 3vw;
    }
}

@media (max-width: 800px) {

    /* header */
    #lista1 {
        font-size: 3.7vw;
    }
    .icon-menu {
        font-size: 3vw;
    }
    .icon-close{
        font-size: 4.5vw;
    }
    div.nome_igu{
        font-size: 2.5vw;
    }

    #contato {
        width: 100%;
        height: 78.5vh;
    }

    .perguntas {
        width: 50vw;
    }
    
    div.nomes {
        display: flex;
        flex-direction: column;
    }

    div.nome {
        margin-top: 1vh;
    }

    input.nomes_inputs {
        display: block;
        width: 100%;
    }
    
    label#title {
        font-size: 3.5vw;
    }

    label.label_input {
        font-size: 2vw;
    }
    
    ::placeholder {
        font-size: 1.6vw;
    }

    input, textarea {
        font-size: 2vw;
    }

    #lista_rodape {
        font-size: 2.3vw;
    }
    
    .redes_sociais {
        margin: 0;
        padding: 0;
        width: 4vw;
    }

    input.btn {
        width: 13vw;
        height: 4vh;
        font-size: 2.2vw;
    }
}

@media (max-width: 550px) {

    /* header */
    #lista1 {
        font-size: 5vw;
    }
    .icon-menu {
        font-size: 5vw;
    }
    .icon-close{
        font-size: 5vw;
    }
    div.nome_igu{
        font-size: 4vw;
    }

    #contato {
        width: 100%;
        height: 78.5vh;
    }

    label#title {
        font-size: 4vw;
    }

    .perguntas {
        width: 50vw;
    }
    
    label.label_input {
        font-size: 2.3vw;
    }
    
    ::placeholder {
        font-size: 1.6vw;
    }

    input, textarea {
        font-size: 1.8vw;
    }

    #lista_rodape {
        font-size: 2.7vw;
    }

    .redes_sociais {
        margin: 0;
        padding: 0;
        width: 4.3vw;
    }
}

@media (max-width: 400px) {

    /* header */
    #lista1 {
        font-size: 5.5vw;
    }
    .icon-menu {
        font-size: 6vw;
    }
    .icon-close{
        font-size: 6.5vw;
    }
    div.nome_igu{
        font-size: 4.5vw;
    }
    #contato {
        width: 100%;
        height: 78.5vh;
    }
    
    label#title {
        font-size: 6vw;
    }
    
    .perguntas {
        width: 60vw;
    }
        
    label.label_input {
        font-size: 3.5vw;
    }
        
    ::placeholder {
        font-size: 2.5vw;
    }
    
    input, textarea {
        font-size: 3.5vw;
    }
    
    #lista_rodape {
        font-size: 2.8vw;
    }
    
    .redes_sociais {
        margin: 0;
        padding: 0;
        width: 5vw;
    }

    input.btn {
        width: 16vw;
        height: 3vh;
        font-size: 3.5vw;
    }
}
