* {
    margin: 0;
    padding: 0;
} 

#pag1 {
    background: url(imgs/background_campo.jpeg);
    background-size: cover;
    height: 100vh;
}

a {
    text-decoration: none;
    color: white;
}

#lista {
    top: 0px;
    list-style: none;
    background-color: #262626;
    height: 7vh;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    opacity: 1;
}


#title1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 1;
}

#title {
    background: #087829;
    border-radius: 10px;
    text-align: center;
    margin-top: 3vh;
    width: 37vw; 
    font-family: Patua One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    color: white;
    padding: 2vh ;
    opacity: 1;
}

#subtitle {
    margin-top: 3vh;
    font-family: Patua One;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    color: black;
    opacity: 1;
}

.page-logo {
    width: 100px;
    position: absolute;
    top: 13vh;
    margin-left: 5vw;
    opacity: 1;
  }

#lista_rodape {
    list-style: none;
    background-color: #262626;
    height: 7vh;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}

#lista_rodape {
    padding-top: 25px;
    padding-left: -20px;
}

.redes_sociais {
    margin: 0;
    padding: 0;
}