* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
} 

:root {
    --text-color: #fff;
    --background-title: #087829;
    --text-color2: #000;
    --box-menu: #F2F2F2;
    --box-shadow: rgba(0, 0, 0, 0.25);
    --background-pag-par: #5D8344;
    --background-pag-impar: #496B69;
    --background-rodape-header: #262626;
}

html{
    scroll-behavior: smooth;
  }

#pag1 {
    background-image: url(../imgs/background_campo.png); 
    background-size: cover;
    width: 100%;
    height: 100vh;
}

a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

a.menu {
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Open Sans', sans-serif;
}

div.menu_sanduiche{
    visibility: hidden;
    display: none;
}

#cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}

#title {
    font-family: 'Josefin Sans', sans-serif;
    background: var(--background-title);
    border-radius: 10px;
    text-align: center;
    margin-top: 15vh;
    width: 40vw; 
    font-style: normal;
    font-weight: normal;
    font-size: 2.8vw;
    color: var(--text-color);
    padding: 2vh ;
}

#subtitle {
    margin-top: 6vh;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5vw;
    font-weight: 600;
    color: var(--text-color2);
}

.page-logo {
    width: 8vw;
    position: absolute;
    top: 13vh;
    margin-left: 6.5vw;
}

article#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
    height: 30vh;
    margin-top: 7vh;
}

.inicio {
    background: var(--box-menu);
    box-shadow: 0px 3.54814px 3.54814px var(--box-shadow);
    border-radius: 0.6vw;
    width: 16vw;
    padding: 1vw;
}

.inicio:hover {
    transition: 0.5s;
    transform: scale(1.04);
}

.title_inicio {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4vw;
    text-align: center;
    color: var(--text-color2);
    text-decoration: none;
    
}

.img_menu {
    width: 14vw;
    padding: 1vw;
    margin-top: 0.5vw;
}

#pag2, #pag4 {
    background-color: var(--background-pag-par);
    background-size: cover;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#pag3, #pag5 {
    background-color: var(--background-pag-impar);
    background-size: cover;
    height: 100vh;
}

.espaco {
    margin-top: 2vh;
}

article.art {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    vertical-align: middle;
    margin-top: -5vh;
    width: 100%;
}

section.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;
}

.title_pags {
    color: var(--text-color);
    font-size: 3.5vw;
    text-align: center;
    align-items: center;
    height: 10vh;
    padding-top: 5vw;
    font-family: 'Open Sans', sans-serif;
}

div.meio {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.img_pag_par {
    width: 26vw;
}

.img_pag_meio {
    width: 26vw;
}

.img_pag_impar {
    width: 36vw;
}

.texto_par_par {
    width: 29vw;
    color: var(--text-color);
    font-size: 1.1vw;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6vw;
}

.texto_imagem{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.texto_par_impar {
    width: 37vw;
    color: var(--text-color);
    font-size: 1.1vw;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6vw;
}

header{
    width: 100%;
    position: fixed;
    z-index: 100;
    background-color: var(--background-rodape-header);
}

#lista {
    list-style: none;
    height: 7vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    display: flex;
    justify-content: space-around;
    padding-top: 3.8vh;
}

#lista_rodape {
    list-style: none;
    background-color: var(--background-rodape-header);
    height: 7vh;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5vw;
    display: flex;
    justify-content: space-between;
    padding-top: 3.8vh;
    padding-left: 7vw;
    padding-right: 7vw;
}

.redes_sociais {
    margin: 0;
    padding: 0;
    width: 2.5vw;
}

.back-to-top {
    background: var(--background-rodape-header);
    color: var(--text-color);
    z-index: 10;
    position: fixed;
    right: 1rem;
    bottom: 1rem;

    padding: 0.5rem;
    clip-path: circle();

    font-size: 1.5rem;
    line-height: 0;

    visibility: hidden;
    opacity: 0;

    transition: 0.3s;
    transform: translateY(100%);
    
}

.icon-arrow-up:before {
    content: "\e90c";
  }

.back-to-top.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 1100px) {
    
    /* header */
    #lista {
        font-size: 2.2vw;
    }

    /* cabeçalho */
    #title {
        width: 60vw; 
        font-style: normal;
        font-weight: normal;
        font-size: 4vw;
        color: var(--text-color);
        padding: 2vh ;
    }

    .page-logo {
        width: 10vw;
        position: absolute;
        top: 13vh;
        margin-left: 2vw;
    }

    #subtitle {
        margin-top: 6.5vh;
        font-style: normal;
        font-weight: bold;
        font-size: 2vw;
        width: 70vw;
        text-align: center;
    }

    /* página 1 texto e image */
    article#menu {
        display: flex;
        justify-content: space-around;
        width: 100vw;
        height: 30vh;
        margin-top: 7vh;
    }

    .inicio {
        width: 18vw;
        padding: 1vw;
    }

    .title_inicio {
        font-size: 1.7vw;
        text-decoration: none;
        color: var(--text-color2);
    }

    .img_menu {
        width:16vw;
        padding: 1vw;
        margin-top: 0.5vw;  
    }

    /* tamanho das páginas */
    #pag1 {
        height: 120vh;
    }

    #pag2, #pag4 {
        padding: 2vw 1vw;
        height: 460vh;
    }
    
    #pag3, #pag5 {
        padding: 2vw 1vw;
        height: 340vh;
    }

    section#pag2 section.conteudo, section#pag4 section.conteudo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 420vh;  
        padding-top: 5vh;
    }

    section#pag3 section.conteudo, section#pag5 section.conteudo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300vh;  
        padding-top: 5vh;
    }

    /* título das páginas */
    .title_pags {
        font-size: 5vw;
    }

    /* conteúdo das páginas */
    article.art {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 2vh;
        width: 100%;
        height: 100%;
    }

    /* textos do conteúdo */
    .texto_par_par {
        width: 60vw;
        color: var(--text-color);
        font-size: 2vw;
        line-height: 2.5vw;
        margin-top: 1vw;
    }
    
    .texto_par_impar {
        width: 60vw;
        color: var(--text-color);
        font-size: 2vw;
        line-height: 2.5vw;
        margin-top: 1vw;
    }

    /* div para centralizar as imagens */
    .texto_imagem {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }

    /* imagens do conteúdo */
    .img_pag_par {
        width: 60vw;
        margin-top: 1vw;
        align-items: center;
    }
    
    .img_pag_meio {
        width: 60vw;
        margin-top: 1vw;
    }
    
    .img_pag_impar {
        width: 60vw;
        margin-top: 1vw;
    }

    /* footer */
    #lista_rodape {
        font-size: 2vw;
    }
    
    .redes_sociais {
        margin: 0;
        padding: 0;
        width: 2.5vw;
    }
}

@media (max-width: 850px) {
    
    /* header */
    #lista {
        font-size: 4vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }

    div.menu_sanduiche {
        visibility: visible;
        display: flex;
        justify-content: space-between;
        padding: 3vh 4vw;
    }

    div.toggle{
        visibility: visible;
        color: white;
    }

    div.nome_igu{
        font-family: 'Josefin Sans', sans-serif;
        visibility: visible;
        color: white;
        font-size: 2.5vw;
        padding-top: 0.5vw;
    }

    div.menu_nav {
        visibility: hidden;
        display: none;
    }

    nav.show .menu_nav{
        visibility: visible;
        transition: 2s;
    
        background-color: var(--background-rodape-header);
        opacity: 0.95;
    
        width: 100%;
        height: 100%;
    
        position: fixed;
        top: 0;
        left: 0;
    
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    nav.show + div div.icon-close{
        visibility: visible;
        opacity: 1;
        top: 1.5rem;
        transition: 1s;
    }

    .icon-close {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        top: -1.5rem;
        right: 1.5rem;
        font-size: 4vw;
        transition: .5s;
    }
    
    .icon-menu {
        font-size: 3vw;
    }

    /* cabeçalho */
    #title {
        width: 50vw; 
        font-style: normal;
        font-weight: normal;
        font-size: 3.5vw;
        color: var(--text-color);
        padding: 2vh ;
    }

    .page-logo {
        width: 10vw;
        position: absolute;
        top: 13vh;
        margin-left: 6.5vw;
    }

    #subtitle {
        margin-top: 6.5vh;
        font-style: normal;
        font-weight: bold;
        font-size: 2vw;
        width: 70vw;
        text-align: center;
    }

    /* página 1 texto e image */
    article#menu {
        display: flex;
        justify-content: space-around;
        width: 90vw;
        height: 30vh;
        margin-top: 7vh;
    }

    .inicio {
        width: 18vw;
        padding: 1vw;
    }

    .title_inicio {
        font-size: 1.7vw;
        text-decoration: none;
        color: var(--text-color2);
    }

    .img_menu {
        width:16vw;
        padding: 1vw;
        margin-top: 0.5vw;  
    }

    /* tamanho das páginas */

    #pag2, #pag4 {
        height: 340vh;
        padding: 2vw 5vw;
    }
    
    #pag3, #pag5 {
        height: 275vh;
    }

    section#pag2 section.conteudo, section#pag4 section.conteudo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 310vh;    
    }

    section#pag3 section.conteudo, section#pag5 section.conteudo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 235vh;
        padding: 5vw;
    }

    /* título das páginas */
    .title_pags {
        font-size: 6vw;
    }

    /* margem entre o título e o conteúdo */
    section#pag2 section.conteudo {
        margin-top: -1vh;
    }

    section#pag3 section.conteudo {
        margin-top: -3vh;
    }

    section#pag4 section.conteudo {
        margin-top: -3vh;
    }

    section#pag5 section.conteudo {
        margin-top: -1vh;
    }

    /* conteúdo das páginas */
    article.art {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 2vh;
        /* margin: auto; */
        width: 100%;
        height: 100%;
    }

    /* textos do conteúdo */
    .texto_par_par {
        width: 60vw;
        color: var(--text-color);
        font-size: 2.2vw;
        line-height: 2.5vw;
        margin-top: 1vw;
    }
    
    .texto_par_impar {
        width: 60vw;
        color: var(--text-color);
        font-size: 2.2vw;
        line-height: 2.5vw;
        margin-top: 1vw;
    }

    /* div para centralizar as imagens */
    .texto_imagem {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }

    /* imagens do conteúdo */
    .img_pag_par {
        width: 60vw;
        margin-top: 1vw;
        align-items: center;
    }
    
    .img_pag_meio {
        width: 60vw;
        margin-top: 1vw;
    }
    
    .img_pag_impar {
        width: 60vw;
        margin-top: 1vw;
    }

    /* footer */
    #lista_rodape {
        font-size: 2.2vw;
    }
    
    .redes_sociais {
        margin: 0;
        padding: 0;
        width: 3.5vw;
    }
}

@media (max-width: 720px) {
    
    /* header */
    #lista {
        font-size: 4.5vw;
    }
    .icon-menu {
        font-size: 4vw;
    }
    div.nome_igu{
        font-size: 3vw;
    }

    /* cabeçalho */
    #title {
        width: 60vw; 
        font-style: normal;
        font-weight: normal;
        font-size: 4.2vw;
        color: var(--text-color);
        padding: 2vh ;
    }

    .page-logo {
        width: 13vw;
        position: absolute;
        top: 13vh;
        margin-left: 2vw;
    }

    #subtitle {
        margin-top: 6.5vh;
        font-style: normal;
        font-weight: bold;
        font-size: 2.5vw;
        width: 70vw;
        text-align: center;
    }

    /* página 1 texto e image */
    article#menu {
        display: flex;
        justify-content: space-around;
        width: 60vw;
        height: 120vh;
        margin-top: 7vh;
        flex-wrap: wrap;
    }

    .inicio {
        width: 22vw;
        padding: 1vw;
    }

    .title_inicio {
        font-size: 2.1vw;
        text-decoration: none;
        color: var(--text-color2);
    }

    .img_menu {
        width: 20vw;
        padding: 1vw;
        margin-top: 0.5vw;  
    }

    /* tamanho das páginas */
    #pag1 {
        height: 165vh;
    }

    #pag2, #pag4 {
        height: 335vh;
        padding: 2vw 5vw;
    }
    
    #pag3, #pag5 {
        height: 265vh;
    }

    section#pag2 section.conteudo, section#pag4 section.conteudo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 300vh;    
    }

    section#pag3 section.conteudo, section#pag5 section.conteudo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 240vh;
        padding: 5vw;
    }

    /* título das páginas */
    .title_pags {
        font-size: 7vw;
    }

    /* margem entre o título e o conteúdo */
    section#pag2 section.conteudo {
        margin-top: -1vh;
    }

    section#pag3 section.conteudo {
        margin-top: -3vh;
    }

    section#pag4 section.conteudo {
        margin-top: -3vh;
    }

    section#pag5 section.conteudo {
        margin-top: -1vh;
    }

    /* conteúdo das páginas */
    article.art {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 2vh;
        /* margin: auto; */
        width: 100%;
        height: 100%;
    }

    /* textos do conteúdo */
    .texto_par_par {
        width: 70vw;
        color: var(--text-color);
        font-size: 2.5vw;
        line-height: 3vw;
        margin-top: 1vw;
    }
    
    .texto_par_impar {
        width: 70vw;
        color: var(--text-color);
        font-size: 2.5vw;
        line-height: 3vw;
        margin-top: 1vw;
    }

    /* div para centralizar as imagens */
    .texto_imagem {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }

    /* imagens do conteúdo */
    .img_pag_par {
        width: 70vw;
        margin-top: 1vw;
        align-items: center;
    }
    
    .img_pag_meio {
        width: 70vw;
        margin-top: 1vw;
    }
    
    .img_pag_impar {
        width: 70vw;
        margin-top: 1vw;
    }

    /* footer */
    #lista_rodape {
        font-size: 2.2vw;
    }
    
    .redes_sociais {
        margin: 0;
        padding: 0;
        width: 3.5vw;
    }
}



@media screen and (max-width: 600px) {

    /* header */
    #lista {
        font-size: 5vw;
    }
    .icon-menu {
        font-size: 4.5vw;
    }
    .icon-close{
        font-size: 5vw;
    }
    div.nome_igu{
        font-size: 3.5vw;
    }

    /* cabeçalho */
    #title {
        width: 70vw; 
        font-style: normal;
        font-weight: normal;
        font-size: 5vw;
        color: var(--text-color);
        padding: 2.3vh ;
    }

    .page-logo {
        width: 12vw;
        position: absolute;
        top: 15vh;
        margin-left: 0.5vw;
    }

    #subtitle {
        margin-top: 6vh;
        font-style: normal;
        font-weight: bold;
        font-size: 3vw;
        width: 80vw;
        text-align: center;
    }

    /* página 1 texto e image */
    article#menu {
        display: flex;
        justify-content: space-around;
        align-self: center;
        align-items: center;
        width: 80vw;
        height: 115vh;
        flex-wrap: wrap;
    }

    .inicio {
        width: 27vw;
        padding: 1vw;
    }

    .title_inicio {
        font-size: 2.6vw;
        text-decoration: none;
        color: var(--text-color2);
    }

    .img_menu {
        width: 25vw;
        padding: 1vw;
        margin-top: 0.5vw;  
    }

    /* tamanho das páginas */
    #pag1{
        height: 165vh;
    }

    #pag2, #pag4 {
        height: 340vh;
        padding: 2vw 5vw;
    }
    
    #pag3, #pag5 {
        height: 270vh;
    }

    section#pag2 section.conteudo, section#pag4 section.conteudo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 310vh;
    }

    section#pag3 section.conteudo, section#pag5 section.conteudo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 240vh;
    }

    /* conteúdo das páginas */
    h2.title_pags {
        padding-top: 10vh;
        font-size: 7vw;
    }

    /* conteúdo das páginas */
    article.art {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 2vh;
        /* margin: auto; */
        width: 100%;
        height: 100%;
    }

    /* textos do conteúdo */
    .texto_par_par {
        width: 80vw;
        color: var(--text-color);
        font-size: 3vw;
        line-height: 3.5vw;
        margin-top: 1vw;
    }
    
    .texto_par_impar {
        width: 80vw;
        color: var(--text-color);
        font-size: 3vw;
        line-height: 3.5vw;
        margin-top: 1vw;
    }

    /* div para centralizar as imagens */
    .texto_imagem {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }

    /* imagens do conteúdo */
    .img_pag_par {
        width: 80vw;
        margin-top: 1vw;
        align-items: center;
    }
    
    .img_pag_meio {
        width: 80vw;
        margin-top: 1vw;
    }
    
    .img_pag_impar {
        width: 80vw;
        margin-top: 1vw;
    }

    /* footer */
    #lista_rodape {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 3vw;
        height: 18vh;
        padding-top: 1vw;
    }   

    .redes_sociais {
        margin: 0;
        padding: 0;
        width: 5vw;
    }
}

@media (max-width: 500px) {

    /* header */
    #lista {
        font-size: 5vw;
    }
    .icon-menu {
        font-size: 5vw;
    }
    .icon-close{
        font-size: 5vw;
    }
    div.nome_igu{
        font-size: 4vw;
    }

    /* cabeçalho */
    #title {
        width: 70vw; 
        font-style: normal;
        font-weight: normal;
        font-size: 5vw;
        color: var(--text-color);
        margin-top: 13vh;

    }

    .page-logo {
        width: 12vw;
        position: absolute;
        top: 13vh;
        margin-left: 0.1vw;
    }

    #subtitle {
        margin-top: 4vh;
        font-style: normal;
        font-weight: bold;
        font-size: 3vw;
        width: 90vw;
        text-align: center;
    }

    /* página 1 texto e image */
    article#menu {
        display: flex;
        justify-content: space-around;
        width: 90vw;
        height: 110vh;
        margin-top: 2vh;
        flex-wrap: wrap;
    }

    .inicio {
        width: 31vw;
        padding: 1vw;
    }

    .title_inicio {
        font-size: 3vw;
        text-decoration: none;
        color: var(--text-color2);
    }

    .img_menu {
        width: 29vw;
        padding: 1vw;
        margin-top: 0.5vw;  
    }

    /* tamanho das páginas */
    #pag1{
        height: 150vh;
    }

    #pag2, #pag4 {
        height: 320vh;
        padding: 2vw 5vw;
    }
    
    #pag3, #pag5 {
        height: 255vh;
    }

    section#pag2 section.conteudo, section#pag4 section.conteudo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 290vh;
    }

    section#pag3 section.conteudo, section#pag5 section.conteudo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 225vh;
    }

    /* conteúdo das páginas */
    h2.title_pags {
        font-size: 8vw;
        padding-top: 11vh;
    }

    /* conteúdo das páginas */
    article.art {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 2vh;
        /* margin: auto; */
        width: 100%;
        height: 100%;
    }

    /* textos do conteúdo */
    .texto_par_par {
        width: 90vw;
        color: var(--text-color);
        font-size: 3.5vw;
        line-height: 4vw;
    }
    
    .texto_par_impar {
        width: 90vw;
        color: var(--text-color);
        font-size: 3.5vw;
        line-height: 4vw;
    }

    /* div para centralizar as imagens */
    .texto_imagem {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }

    /* imagens do conteúdo */
    .img_pag_par {
        width: 90vw;
    }
    
    .img_pag_meio {
        width: 90vw;
        /* visibility: hidden; */
    }
    
    .img_pag_impar {
        width: 90vw;
    }

    /* footer */
    #lista_rodape {
        font-size: 3.3vw;
        padding-top: 1vw;
    }

    .redes_sociais {
        margin: 0;
        padding: 0;
        width: 5.3vw;
    }    
}

@media (max-width: 450px) {

    /* header */
    #lista {
        font-size: 6vw;
    }
    .icon-close{
        font-size: 6vw;
    }

    /* cabeçalho */
    #title {
        width: 65vw; 
        font-style: normal;
        font-weight: normal;
        font-size: 4.7vw;
        color: var(--text-color);
        padding: 2.3vh ;
    }

    .page-logo {
        width: 13vw;
        position: absolute;
        top: 13vh;
        margin-left: 0.8vw;
    }

    #subtitle {
        margin-top: 5vh;
        font-style: normal;
        font-weight: bold;
        font-size: 2.8vw;
        width: 70vw;
        text-align: center;
    }
    
    /* página 1 texto e image */
    article#menu {
        display: flex;
        justify-content: space-around;
        width: 80vw;
        height: 110vh;
        margin-top: 2vh;
        flex-wrap: wrap;
    }
    .inicio {
        width: 33vw;
        padding: 1vw;
    }

    .title_inicio {
        font-size: 3.2vw;
        text-decoration: none;
        color: var(--text-color2);
    }

    .img_menu {
        width: 31vw;
        padding: 1vw;
        margin-top: 0.5vw;  
    }
    
    /* tamanho das páginas */
    #pag1{
        height: 145vh;
    }
        
    #pag2, #pag4 {
        height: 300vh;
        padding: 2vw 5vw;
    }
        
    #pag3, #pag5 {
        height: 260vh;
    }
    
    section#pag2 section.conteudo, section#pag4 section.conteudo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 275vh;
    }
    
    section#pag3 section.conteudo, section#pag5 section.conteudo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 235vh;
    }
    
    /* conteúdo das páginas */
    h2.title_pags {
        font-size: 8vw;
    }

    /* conteúdo das páginas */
    article.art {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 2vh;
        /* margin: auto; */
        width: 100%;
        height: 100%;
    }
    
    /* textos do conteúdo */
    .texto_par_par {
        width: 85vw;
        color: var(--text-color);
        font-size: 3.5vw;
        line-height: 4vw;
    }
        
    .texto_par_impar {
        width: 85vw;
        color: var(--text-color);
        font-size: 3.5vw;
        line-height: 4vw;
    }
    
    /* div para centralizar as imagens */
    .texto_imagem {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }
    
    /* imagens do conteúdo */
    .img_pag_par {
        width: 85vw;
    }
        
    .img_pag_meio {
        width: 85vw;
    }
        
    .img_pag_impar {
        width: 85vw;
    }
        
    /* footer */
    #lista_rodape {
        font-size: 3.7vw;
        padding-top: 1vw;
    }

    .redes_sociais {
        margin: 0;
        padding: 0;
        width: 5.7vw;
    }       
}

@media (max-width: 400px) {

    /* header */
    #lista {
        font-size: 6.5vw;
    }
    .icon-menu {
        font-size: 5.5vw;
    }
    .icon-close{
        font-size: 6.5vw;
    }
    div.nome_igu{
        font-size: 4.5vw;
    }

    /* cabeçalho */
    #title {
        width: 63vw; 
        font-style: normal;
        font-weight: normal;
        font-size: 4.5vw;
        color: var(--text-color);
        padding: 2.3vh ;
    }
    
    .page-logo {
        width: 15vw;
        position: absolute;
        top: 12vh;
        margin-left: 0vw;
    }
    
    #subtitle {
        margin-top: 5vh;
        font-style: normal;
        font-weight: bold;
        font-size: 3.4vw;
        width: 85vw;
        text-align: center;
    }

    /* página 1 texto e image */
    article#menu {
        display: flex;
        justify-content: space-around;
        width: 95vw;
        height: 105vh;
        margin-top: 2vh;
        flex-wrap: wrap;
    }

    .inicio {
        width: 36vw;
        padding: 1vw;
    }

    .title_inicio {
        font-size: 3.5vw;
        text-decoration: none;
        color: var(--text-color2);
    }

    .img_menu {
        width: 34vw;
        padding: 1vw;
        margin-top: 0.5vw;  
    }

    /* tamanho das páginas */
    #pag1{
        height: 145vh;
    }
    
    #pag2, #pag4 {
        height: 290vh;
        padding: 2vw 5vw;
    }
    
    #pag3, #pag5 {
        height: 270vh;
    }

    section#pag2 section.conteudo, section#pag4 section.conteudo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 265vh;
    }

    section#pag3 section.conteudo, section#pag5 section.conteudo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 245vh;
    }

    /* conteúdo das páginas */
    h2.title_pags {
        font-size: 8vw;
    }

    /* conteúdo das páginas */
    article.art {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-top: 2vh;
        /* margin: auto; */
        /* width: 100%; */
        height: 100%;
    }

    /* textos do conteúdo */
    .texto_par_par {
        width: 80vw;
        color: var(--text-color);
        font-size: 4vw;
        line-height: 4.5vw;
    }
    
    .texto_par_impar {
        width: 80vw;
        color: var(--text-color);
        font-size: 4vw;
        line-height: 4.5vw;
    }

    /* div para centralizar as imagens */
    .texto_imagem {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        /* width: 100%; */
        height: 100%;
    }

    /* imagens do conteúdo */
    .img_pag_par {
        width: 80vw;
    }
    
    .img_pag_meio {
        width: 80vw;
    }
    
    .img_pag_impar {
        width: 80vw;
    }
    
    /* footer */
    #lista_rodape {
        font-size: 4vw;
        padding-top: 1vw;
    }

    .redes_sociais {
        margin: 0;
        padding: 0;
        width: 6vw;
    }     
}

@media (max-width: 360px) {
    
    /* header */
    #lista {
        font-size: 7vw;
    }
    .icon-menu {
        font-size: 6vw;
    }
    .icon-close{
        font-size: 7vw;
    }
    div.nome_igu{
        font-size: 5vw;
    }

    /* cabeçalho */
    #title {
        width: 60vw; 
        font-style: normal;
        font-weight: normal;
        font-size: 4.2vw;
        color: var(--text-color);
        margin-top: 12vh;
    }

    .page-logo {
        width: 14vw;
        position: absolute;
        top: 12vh;
        margin-left: 0.7vw;
    }

    #subtitle {
        margin-top: 5vh;
        font-style: normal;
        font-weight: bold;
        font-size: 3.2vw;
        width: 80vw;
        text-align: center;
    }

    /* página 1 texto e image */
    article#menu {
        display: flex;
        justify-content: space-around;
        width: 95vw;
        height: 100vh;
        margin-top: 2vh;
        flex-wrap: wrap;
    }
    
    .inicio {
        width: 37vw;
        padding: 1vw;
    }

    .title_inicio {
        font-size: 3.6vw;
        text-decoration: none;
        color: var(--text-color2);
    }

    .img_menu {
        width: 35vw;
        padding: 1vw;
        margin-top: 0.5vw;  
    }

    /* tamanho das páginas */
    #pag1{
        height: 135vh;
    }

    #pag2, #pag4 {
        height: 255vh;
        padding: 2vw 5vw;
    }
    
    #pag3, #pag5 {
        height: 240vh;
    }

    section#pag2 section.conteudo, section#pag4 section.conteudo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 225vh;
    }

    section#pag3 section.conteudo, section#pag5 section.conteudo {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 220vh;
    }

    /* conteúdo das páginas */
    h2.title_pags {
        font-size: 8vw;
    }

        /* conteúdo das páginas */
        article.art {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-top: 2vh;
            /* margin: auto; */
            width: 100%;
            height: 100%;
        }

    /* textos do conteúdo */
    .texto_par_par {
        width: 85vw;
        color: var(--text-color);
        font-size: 4vw;
        line-height: 4.5vw;
        margin-top: 1vw;
    }
    
    .texto_par_impar {
        width: 85vw;
        color: var(--text-color);
        font-size: 4vw;
        line-height: 4.5vw;
        margin-top: 1vw;
    }

    /* div para centralizar as imagens */
    .texto_imagem {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }

    /* imagens do conteúdo */
    .img_pag_par {
        width: 85vw;
        margin-top: 1vw;
        align-items: center;
    }
    
    .img_pag_meio {
        width: 85vw;
        margin-top: 1vw;
    }
    
    .img_pag_impar {
        width: 85vw;
        margin-top: 1vw;
    }

    /* footer */
    #lista_rodape {
        font-size: 4vw;
        padding-top: 1vw;
    }

    .redes_sociais {
        margin: 0;
        padding: 0;
        width: 6vw;
    }    
}

@media (max-width: 330px) {
    
    /* header */
    #lista {
        font-size: 7.5vw;
    }
    .icon-menu {
        font-size: 6.5vw;
    }
    .icon-close{
        font-size: 7.5vw;
    }
    div.nome_igu{
        font-size: 5.5vw;
    }

    /* cabeçalho */
    #title {
        width: 60vw; 
        font-style: normal;
        font-weight: normal;
        font-size: 4vw;
        color: var(--text-color);
        padding: 2.3vh ;
    }

    .page-logo {
        width: 15vw;
        position: absolute;
        top: 12vh;
        margin-left: 0vw;
    }

    #subtitle {
        margin-top: 5vh;
        font-style: normal;
        font-weight: bold;
        font-size: 4vw;
        width: 80vw;
        text-align: center;
    }

    /* página 1 texto e image */
    article#menu {
        display: flex;
        justify-content: space-around;
        width: 90vw;
        height: 90vh;
        margin-top: 1vh;
        flex-wrap: wrap;
    }
    
    .inicio {
        width: 35vw;
        padding: 1vw;
    }

    .title_inicio {
        font-size: 3.4vw;
        text-decoration: none;
        color: var(--text-color2);
    }

    .img_menu {
        width: 33vw;
        padding: 1vw;
        margin-top: 0.5vw;  
    }

    /* tamanho das páginas */
    #pag1{
        height: 130vh;
    }

    #pag2, #pag4 {
        height: 270vh;
        padding: 2vw 5vw;
    }
    
    #pag3, #pag5 {
        height: 230vh;
    }

    section#pag2 section.conteudo, section#pag4 section.conteudo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 240vh;
        padding-top: 10vw;
    }

    section#pag3 section.conteudo, section#pag5 section.conteudo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200vh;
        padding-top: 10vw;
    }

    /* conteúdo das páginas */
    h2.title_pags {
        padding-top: 12vh;
        font-size: 8vw;
    }

        /* conteúdo das páginas */
        article.art {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-top: 2vh;
            width: 100%;
            height: 100%;
        }

    /* textos do conteúdo */
    .texto_par_par {
        width: 90vw;
        color: var(--text-color);
        font-size: 4.5vw;
        line-height: 5vw;
        margin-top: 1vw;
    }
    
    .texto_par_impar {
        width: 90vw;
        color: var(--text-color);
        font-size: 4.5vw;
        line-height: 5vw;
        margin-top: 1vw;
    }

    /* div para centralizar as imagens */
    .texto_imagem {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 100%;
    }

    /* imagens do conteúdo */
    .img_pag_par {
        width: 90vw;
        margin-top: 1vw;
        align-items: center;
    }
    
    .img_pag_meio {
        width: 90vw;
        margin-top: 1vw;
    }
    
    .img_pag_impar {
        width: 90vw;
        margin-top: 1vw;
    }

    /* footer */
    #lista_rodape {
        font-size: 5vw;
        padding-top: 1vw;
    }

    .redes_sociais {
        margin: 0;
        padding: 0;
        width: 8vw;
    }    
}

@media (max-width: 320px) {
    /* tamanho das páginas */
    #pag1{
        height: 130vh;
    }

    /* página 1 texto e image */
    article#menu {
        display: flex;
        justify-content: space-around;
        width: 95vw;
        height: 90vh;
        margin-top: 1vh;
        flex-wrap: wrap;
    }
    
    .inicio {
        width: 43vw;
        padding: 1vw;
    }

    .title_inicio {
        font-size: 4.2vw;
        text-decoration: none;
        color: var(--text-color2);
    }

    .img_menu {
        width: 41vw;
        padding: 1vw;
        margin-top: 0.5vw;  
    }

        /* conteúdo das páginas */
        article.art {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            margin-top: 2vh;
            /* margin: auto; */
            width: 100%;
            height: 100%;
        }
}
