* {
    margin: 0;
    padding: 0;
} 

#pag1 {
    background: url(imgs/background_campo.png); 
    background-size: cover;
    height: 100vh;
}

a.menu {
    text-decoration: none;
    color: white;
}

.menu:hover {
    transition: 0.5s;
    transform: scale(1.04);
}

#lista {
    top: 0px;
    list-style: none;
    background-color: #262626;
    height: 7vh;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}


#title1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#title {
    background: #087829;
    border-radius: 10px;
    text-align: center;
    margin-top: 3vh;
    width: 37vw; 
    font-family: Patua One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    color: white;
    padding: 2vh ;
}

#subtitle {
    margin-top: 6vh;
    font-family: Patua One;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    font-weight: 600;
    color: black;

}

.page-logo {
    width: 8vw;
    position: absolute;
    top: 13vh;
    margin-left: 6.5vw;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90vw;
    height: 30vh;
    margin-top: 7vh;
}

.inicio {
    background: #F2F2F2;
    box-shadow: 0px 3.54814px 3.54814px rgba(0, 0, 0, 0.25);
    border-radius: 0.6vw;
    width: 16vw;
    height: 50vh;
    padding: 1vw;
}

.inicio:hover {
    transition: 0.5s;
    transform: scale(1.04);
}

.title_inicio {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.img_menu {
    width: 14vw;
    padding: 1vw;
    margin-top: 1vw;
}

#pag2 {
    background-color: #5D8344;
    background-size: cover;
    height: 100vh;
}

#lista_rodape {
    list-style: none;
    background-color: #262626;
    height: 7vh;
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    padding-top: 25px;
}

.redes_sociais {
    margin: 0;
    padding: 0;
}