/* import de fontes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* zerando o navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- BODY --- */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #7bdaf3;
    min-height: 100vh;
}

#notepad {
    padding: 3rem 1.5rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}

.add {
    background-color: #9ec862;
    border-radius: 3px;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
}

/* --- NOTAS --- */
.notas {
    background-color: #fff;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    height: 400px;
    width: 300px;
}

.titulo {
    border: none;
    font-size: 1.5rem;
    background-color: #9ec862;
    color: white;
    width: 200px;
}

.titulo:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

.titulo::placeholder {
    color: white;
}

.notas .ferramentas {
    background-color: #9ec862;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
}

/* --- BUTTON --- */
.notas .ferramentas button {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;
}

.notas .main {
    background-color: #eee;
    word-break: break-all;
    height: 356px;
    width: 100%;
    padding: 1rem;
}

/* --- INPUT --- */
.notas textarea {
    outline: none;
    font-family: inherit;
    font-size: 1rem;
    border: none;
    height: 350px;
    width: 100%;
    padding: 1rem;
}

.notas .hidden {
    display: none;
}

/* --- FOOTER --- */
a {
    text-decoration: none;
    color: white;
}

#lista_rodape {
    list-style: none;
    background-color: #262626;
    height: 4rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 1rem;
}

.redes_sociais {
    width: 2rem;
    height: 2rem;
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
    body {
        padding: 3rem 0.5rem 0;
    }
    .titulo {
        font-size: 1rem;
        width: 100px;
    }
    .notas {
        height: 300px;
        width: 250px;
    }
    .notas .main {
        height: 258px;
    }
    .notas textarea {
        height: 250px;    
    }
}