/* import de fontes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* zerando o navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- BODY --- */
body {
    background: url("back_countdown.jpg");
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: color;
    background-size: cover;
    background-position: center center;
    font-family: 'Poppins', sans-serif;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* --- HEADER --- */
h1 {
    font-weight: normal;
    font-size: 4rem;
    margin: -2rem 0 3rem;
}

/* --- CONTENT --- */
.countdown-container {
    display: flex;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
        margin: 1rem;
        text-align: center;
    }
    .countdown-container {
        flex-direction: column;
    }
    .big-text {
        font-size: 3.5rem;
    }
    .countdown-el {
        margin: 1rem 0;
    }
    .countdown-el span {
        font-size: 1rem;
    }
}