/* import de fontes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* zerando o navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- BODY --- */
body {
    background: url("../imgs/back_countdown.jpg");
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: color;
    background-size: cover;
    background-position: center center;
    font-family: 'Poppins', sans-serif;
    color: white;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

/* --- HEADER --- */
h1 {
    font-weight: normal;
    font-size: 4rem;
    margin: -2rem 0 3rem;
}

/* --- CONTENT --- */
.countdown-container {
    display: flex;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: white;
}

#lista_rodape {
    list-style: none;
    background-color: #262626;
    height: 4rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 1rem;
}

.redes_sociais {
    width: 2rem;
    height: 2rem;
}

/* --- RESPONSIVE --- */
@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
        margin: 1rem;
        text-align: center;
    }
    .countdown-container {
        flex-direction: column;
    }
    .big-text {
        font-size: 3.3rem;
    }
    .countdown-el {
        margin: 1rem 0;
    }
    .countdown-el span {
        font-size: 0.9rem;
    }
    #lista_rodape {
        height: 8rem;
        font-size: 1rem;
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        line-height: 1.4rem;
    }
}