/* import de fontes*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

/* zerando o navegador */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
  }
  body {
    min-height: 100vh;
  }
  .sidebar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 78px;
    background: #11101D;
    padding: 6px 14px;
    z-index: 10;
    transition: all 0.5s ease;
  }
  .sidebar.open{
    width: 250px;
  }
  .sidebar .logo-details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .sidebar .logo-details .icon{
    opacity: 0;
    transition: all 0.5s ease;
    width: 40px;
    height: 40px;
    margin-right: 15px;
  }
  .sidebar .logo-details .logo_name{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all 0.5s ease;
  }
  .sidebar.open .logo-details .icon,
  .sidebar.open .logo-details .logo_name{
    opacity: 1;
  }
  
  .sidebar .logo-details #btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .sidebar.open .logo-details #btn{
    text-align: right;
  }
  .sidebar i{
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
  }
  .sidebar .nav-list{
    height: 100%;
  }
  .sidebar li{
    position: relative;
    margin: 8px 0;
    list-style: none;
  }
  .sidebar li .tooltip{
    position: absolute;
    top: -20px;
    left: calc(100% + 15px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    opacity: 0;
    white-space: nowrap;
    pointer-events: none;
    transition: 0s;
  }
  .sidebar li:hover .tooltip{
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
    top: 50%;
    transform: translateY(-50%);
  }
  .sidebar.open li .tooltip{
    display: none;
  }
  
  .sidebar li a{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #11101D;
  }
  .sidebar li a:hover{
    background: #FFF;
  }
  .sidebar li a .links_name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
  }
  .sidebar.open li a .links_name{
    opacity: 1;
    pointer-events: auto;
  }
  .sidebar li a:hover .links_name,
  .sidebar li a:hover i{
    transition: all 0.5s ease;
    color: #11101D;
  }
  .sidebar li i{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
  }
  .sidebar li.profile{
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #1d1b31;
    transition: all 0.5s ease;
    overflow: hidden;
  }
  .sidebar.open li.profile{
    width: 250px;
  }
  .sidebar li.profile .profile-details .name_job {
    display: none;
  }
  .sidebar.open li.profile .profile-details .name_job {
    display: block;
  }
  .sidebar li .profile-details{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  .sidebar li img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
  }
  .sidebar li.profile .name,
  .sidebar li.profile .job{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
  }
  .sidebar li.profile .job{
    font-size: 12px;
  }
  
  .home-section{
    position: relative;
    background: url("../imgs/back_countdown.jpg");
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: color;
    background-size: cover;
    background-position: center center;
    color: white;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
  }
  .sidebar.open ~ .home-section{
    left: 250px;
    width: calc(100% - 250px);
  }
  .home-section .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
  }

/* --- BODY --- */

/* --- HEADER --- */
h1 {
    font-weight: normal;
    font-size: 4rem;
    margin: -2rem 0 3rem;
}

/* --- CONTENT --- */
.countdown-container {
    display: flex;
}

.big-text {
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el {
    text-align: center;
}

.countdown-el span {
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: white;
  }
  
  #lista_rodape {
    width: calc(100% - 78px);
    position: relative;
    list-style: none;
    background-color: #262626;
    height: 4rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 1rem;
    left: 78px;
    transition: all 0.5s ease;
  }
  
  .redes_sociais {
    width: 2rem;
    height: 2rem;
  }
  
  .sidebar.open ~ footer > #lista_rodape{
    left: 250px;
    width: calc(100% - 250px);
  }

/* --- RESPONSIVE --- */
@media (max-width: 1000px) {
    #lista_rodape {
        height: 8rem;
        font-size: 1rem;
        flex-direction: column;
        justify-content: space-evenly;
    }
  }
@media (max-width: 768px) {
    h1 {
        font-size: 1.8rem;
        margin: 1rem;
        text-align: center;
    }
    .countdown-container {
        flex-direction: column;
    }
    .big-text {
        font-size: 3.3rem;
    }
    .countdown-el {
        margin: 1rem 0;
    }
    .countdown-el span {
        font-size: 0.9rem;
    }
    .sidebar.open ~ .home-section {
        left: 0;
        right: 250px;
        width: calc(100%);
    }
  
    .sidebar.open ~ footer > #lista_rodape{
      left: 0;
      right: 250px;
      width: calc(100%);
    }
}