/* Botão */
button {
    color: white;
    background: blue;
    transition: transform 2s, background 2s;
}

button:hover,
button:focus {
    background: red;
    transform: translateX(80px) translateY(40px) scale(4);
}

/* Foto */
img {
    max-width: 100%;
}

.bloco {
    padding-top: 80px;
    width: 250px;
    margin: 15px;

    /* Esconde quando transbordar */
    overflow: hidden;
}

.bloco img {
    transition: all 0.7s;
}

.bloco img:hover {
    transform: scale(1.2);
}